@model ProjetoKanban.Models.Pessoa

@{
    ViewData["Title"] = "Cadastrar Novo Usuário";
}

<div class="main-cadastro">
    <div class="left-cadastro">
        <div class="card-cadastro">
            <div class="form-cadastro">
                <h2>CADASTRO DE NOVO USUÁRIO</h2>
                <form asp-controller="Pessoas" asp-action="Create" class="textfield">
                    <label asp-for="Nome" for="nome">Nome</label>
                    <input asp-for="Nome" type="text" name="nome" placeholder="Nome">
                    <label asp-for="Cargo" for="cargo">Cargo</label>
                    <input asp-for="Cargo" type="text" name="cargo" placeholder="Cargo">
                    <label asp-for="Email" for="email">E-mail</label>
                    <input asp-for="Email" type="text" name="email" placeholder="email@aissatecnologia.com.br">
                    <label asp-for="Senha" for="senha">Senha</label>
                    <input asp-for="Senha" type="password" name="senha" placeholder="Senha">
                    <button type="submit" value="Create" class="btn-cadastrar">Cadastrar</button>
                </form> 
            </div>
        </div>
    </div>
    <div class="right-login">
        <img src="~/imagens/logo-aissa.png" class="right-login-image" alt="Logo da empresa Aissa Tecnologia." />
    </div>

</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}