@model ProjetoKanban.Models.Projeto

@{
    ViewData["Title"] = "Remover Projeto";
}

<header>
    <img src="~/imagens/aissa-branco.svg" class="logo">
    <button class="headerbutton">&#9776</button>
    <h4 class="cabecalhoProjeto">Remover Projeto</h4>
    <div class="linksProjeto">
        <a asp-action="Index"><font color=white><i class="bi bi-arrow-return-left"></i>Voltar</font></a>
    </div>
</header>

<div class="formularioNovoProj">
    <h4>Deseja Remover o Projeto @Html.DisplayFor(model => model.Nome)?</h4>
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <button class="button add-button" type="submit"> Remover </button>
        <a asp-action="Index"><font color=#2c3540><i class="bi bi-arrow-return-left"></i>Voltar</font></a>
    </form>
</div>
