@{
    ViewData["Title"] = "Aissa Tecnologia - Projetos";
}

<header>
    <img src="~/imagens/aissa-branco.svg" class="logo">
    <button class="headerbutton">&#9776</button>
    <ul>
        <li><a class="pagina" asp-controller="Projetoes" asp-action="Index"><i class="bi bi-folder-fill"></i>PROJETOS</a></li>
        <li><a class="pagina" asp-controller="Home" asp-action="Perfil"><i class="bi bi-person-fill"></i>PERFIL</a></li>
        <li><a class="pagina" asp-controller="Home" asp-action="Conta"><i class="bi bi-gear-fill"></i>CONTA</a></li>
        <li><a class="pagina" href="#"><i class="bi bi-door-open-fill"></i>SAIR</a></li>
    </ul>

</header>
<div class="homecontainer">
    
</div>

<div id="root"></div>
<script src="js/script.js"></script>
<script src="js/bootstrap.bundle.min.js"></script>
